.header {
    width: 100%;
    background-color: var(--blanco);
    position: -webkit-sticky;
    top: 0;
    position: sticky;
    z-index: 5;    
}
.menu {
    display: grid;
    width: 100%;
    -webkit-box-shadow: 0 0 10px #a2a2a2;
    box-shadow: 0 0 10px #a2a2a2;
    grid-template-columns: repeat(3, 250px);
    justify-content: space-between;
    min-height: 100px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: non;
    color: var(--azul-oscuro);    
    align-items: center;
}

.menu-column:nth-of-type(1) {
    flex: 1.2;
    padding-left: 20px;
}

.menu img {
    width: auto;
    height: auto;    
}

.menu-list {
    display: flex;    
    text-decoration: none;
    font-weight: bold;
    gap: 30px;    
}

.menu-list a {
    padding: .5rem 0;
    border-bottom: 1px solid #ccc;
}


.menu-list a.hover,
.menu-list a.selected {
    color: var(--naranja);
    border-bottom: 1px solid var(--naranja);
}

@media (max-width: 600px) {
    .menu img {
        display: none;
    }
    .menu {
        grid-template-columns: 1fr;
        justify-items: center;
        align-content: center;
    }
}