.btn {
    font-size: 1.2rem;
    background-color: var(--naranja);
    color: var(--blanco);
    font-weight: 300;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    border-radius: .3rm;
    line-height: 1.5;
    border: 1px solid transparent;
    padding: .5rem 3rem;
}

.btn:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
}

.btn:hover {
    opacity: .7;
}