.ViewDetail {    
    display: flex;
    justify-content: center;
    align-items: center;    
}

.ViewDetail--form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;  
}

.ViewDetail--Form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: max-content;
    margin: 0 auto;
    background-color: var(--blanco);
    padding: 3rem;
    color: var(--azul-oscuro);
}

.ViewDetail--Form--container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 18px;
    padding-bottom: 3rem;
    margin: 0;
}
.ViewDetail--btnContainer {
    display: flex;    
    gap: 18px;
}