.main-table {
    margin: 0 auto;    
    width: 100%;
    background-color: transparent;
    border-spacing: 0;
    display: table;    
    table-layout: fixed;
    text-transform: capitalize;
    text-indent: initial;
    border-color: gray;
}

.main-table th {
    padding: 12px 0;
    text-align: left;
    color: #002b61;
}

.main-table th, 
.main-table td {
    padding: 1rem .5rem;
    font-size: 12.5pt;
    width: 1fr;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main-table td:hover {
    overflow: visible;
    white-space: normal;
}

.main-table tr:nth-child(even) {
    background-color: #efefef;
}

.main-table tr:hover:not(.main-table--title) {
    background-color: #ddd;
}