.AddNewItemForm {    
    width: auto;
    max-width: max-content;
    margin: 0 auto;
    background-color: var(--blanco);
    padding: 3rem;
    color: var(--azul-oscuro);    
}

.AddNewItemForm--container {
    text-align: center;
    padding-bottom: 3rem;
    margin: 0;
}

.AddNewItemForm--field {
    display: grid;
    grid-template-areas: "add field edit";
    grid-template-columns: 50px 310px 50px;
    align-items: center;
    padding: 10px 0;
}

.AddNewItemForm--field input {
    grid-area: field;    
}

.AddNewItemForm-btnContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

